In [1]:
import pandas as pd
import numpy as np

In [2]:
email = 'jose@email.com'

In [4]:
email.split('@')

['jose', 'email.com']

In [5]:
names = pd.Series(['andreq', 'bobo', 'claire', 'david', '5'])

In [6]:
names

0    andreq
1      bobo
2    claire
3     david
4         5
dtype: object

In [7]:
names.str.upper()

0    ANDREQ
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [8]:
names.str

In [9]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [10]:
tech_finance = ['GOOG,APPL,AMZN', 'JPM,BAC,GS']

In [11]:
tickers = pd.Series(tech_finance)

In [19]:
tickers.str.split(',', expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [16]:
tech = 'GOOG,APPL,AMZN'

In [17]:
tech.split(',')[0]

'GOOG'

In [20]:
messy_names = pd.Series(['andrew  ', "bo;bo", "    claire "])

In [21]:
messy_names

0       andrew
1          bo;bo
2        claire
dtype: object

In [25]:
messy_names.str.replace(';', '').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object